---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<div>
  <p>Donate BTC: 1KJWd1NqcXbX811DYp1Gi1m6vzv8bj542u</p>
  <p><img src="https://steemitimages.com/DQmZKwuvZqhPntA1ZnQzvu9CzdPQXGPy2NXD9xEpvkW7Dax/btc_donate_1_200.png" alt="btc_donate_1_200"></p>
  <p>Donate ETH or tokens: 0x10e733f07038b046a5Ab6eE7159e9912680832B9</p>
  <p><img src="https://steemitimages.com/DQmSECa9wQieFzRT3QnUj8aPRWww9zHT6Ty8m2K1wQoiyfx/eth_donate_1_200.png" alt="eth_donate_1_200"></p>
  <p>Donate with Paypal: <a href="https://www.paypal.me/rogerwu/50twd">paypal.me/rogerwu</a></p>
</div>
